/* Creazione struttura */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  color: #b3b3b3;
  text-transform: none;
}

main{
  display: flex;
}

footer{
  height:15vh;
  background-color: #282828;
  position: sticky;
  bottom: 0;
  display: flex;
  line-height: 15vh;
}

main>.left{
  width:230px;
  position:fixed;
  height:85vh;
}

main>.right{
  margin-left:230px;
  width:1103px;
  height:100%;
  background-image: url("img/background.jpg");
  background-size: cover;
}

/* Creazione navBar */
.navBar{
  background-color: black;
  color:white;
  padding-top: 24px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
}

.navBar:hover{
  cursor:pointer;
}

.navBar>.logo{
  display:flex;
}

.logo>img{
  width: 131px;
  height: 40px;
  margin:auto;
}

.navBar>.list-menu>ul>li{
  list-style-type: none;
  color: #b3b3b3;
  height: 40px;
  width:100%;
  padding-left:24px;
  line-height:30px;
}

.navBar>.list-menu>ul>li>img{
  width: 24px;
  height: 24px;
}

.navBar>.list-menu>ul>li>span{
  margin-left: 16px;
}

#home{
  border-left: 3px solid #1ED760;
  font-weight: 600;
  color:white;
}

.playlist-recent{
  color: #fff;
  opacity: .6;
  padding-left:24px;
  padding-bottom: 7px;
}

.playlist-recent ul{
  list-style-type: none;
}

.playlist-recent h2{
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .015em;
  color: #b3b3b3;
  letter-spacing: .16em;
}

.playlist-recent p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
  margin-bottom: 0;
}

.footer-nav .install{
  padding: 0 24px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  margin-bottom: 8px;
}

.footer-nav .install img{
  width: 20px;
  height:20px;
}

.footer-nav .install>span{
  padding-left: 16px;
}

.session-info{
  padding: 8px 0;
  margin: 0 24px;
  border-top: 1px solid #404040;
}

.footer-nav .session-info img{
  width:20px;
  height: 20px;
}

.footer-nav .session-info span{
  padding-left: 16px;
}

/* Creazione della right part */

.content{
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1480px;
}

.nav-main{
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}


.bar>span{
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
  border: 0;
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  letter-spacing: .16em;
  color: #b3b3b3;
}

.bar>span:hover{
  cursor: pointer;
}

#selected{
  color: #fff;
  font-weight: 500;
  border-bottom: 3px solid #1ED760;
}

.header>h1{
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  font-weight: 600;
  color: #fff;
  text-transform: none;
  margin: 24px 0;
}

.image{
  height:153px;
  width: 153px;
}

.image>img{
  width:100%;
  height:100%;
}

.description{
  margin: 12px 0 4px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  display: block;
}

.description>a{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  font-weight: 600;
}

.layover{
  height:153px;
  width: 153px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.81);
  top: 0;
  display: none;
}

.layover>i{
  font-size: 60px;
}

.overable-button:hover .layover{
  cursor: pointer;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description>.info{
  display: block;
}

/* Creazione del footer */

.playing-bar{
  display: flex;
  justify-content: space-between;
}

.play-info{
  display: flex;
  align-items: center;
  line-height: 100%;
  padding: 20px 0 0 15px;
}

.current-play>*{
  display: inline-block;
}

.current-play>img{
  width:56px;
  height:56px;
}

.play-info>*{
  font-size: 14px;
  letter-spacing: .015em;
  color: #b3b3b3;
  text-align: left;
  display: block;
  line-height: 100%;
  text-decoration: none;
}

#title-song{
  font-size: 13px;
  color: #ffff;
}

#author{
  padding-top: 5px;
}

.play-info>a:hover{
  curson:pointer;
  color:#b3b3b3;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.heart{
padding-left: 50px;
}

.player-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 100%;
}

.player-buttons{
  width:300px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  font-size: 20px;
}

.fa-play-circle{
  font-size:25px;
}

.time{
  display: inline-block;
}

.time-before{
  height: 5px;
  width:100px;
  background-color: #1ED760;
  display: inline-block;
  border-radius: 5px;
}

.time-after{
  height: 5px;
  width:200px;
  background-color:#B3B3B3;
  display: inline-block;
  border-radius: 5px;
}

.fa-circle{
  color: #1ED760;
}

.volume-bar{
  height: 5px;
  width:100px;
  background-color: #B3B3B3;
  display: inline-block;
  border-radius: 5px;
}

.volume-bar:hover{
  background-color:#1ED760;
}
